body{
  background-color: #D1E8E4;
}
.app{
  background-color: white;
  min-height: 90vh;
  width: 450px;
  margin: 15px auto;
  border-radius: 2px;
}
.container{
  display: flex;
  justify-content: center;
}
.img{
  margin-top: 15px;
}
.two{
  margin-bottom: 15px;
}
.header,.text{
  color: #284E78;
  font-family: 'RocknRoll One', sans-serif;
}
.text{
  font-size:15px;
}
.btn{
  padding: 10px;
  border: none;
  border-radius: 3px;
  width: 60%;
  font-size: 15px;
  color:white;
  font-family: 'RocknRoll One', sans-serif;
}
.add{
  margin-top: 15px;
  background: #28B5B5;
}
.delete{
  background:#D83A56;
}
.delete,.add{
  margin-bottom: 20px;
}

input{
  width: 65%;
  padding: 8px;
  font-family: 'RocknRoll One', sans-serif;
}
.crossed{
  text-decoration:line-through 2px #D83A56;
  color:rgb(51, 47, 47);
}
ul,li{
  list-style-type: none;
  padding: 10px;
  font-family: 'RocknRoll One', sans-serif;
}

@media all and (max-width:500px){
  .app{
    width: 85%;
  }
  body{
    width: 90%;
  }
  .img{
    width:60%;
    margin-right: 20px;
  }
  .header{
    font-size: 15px;
  }
}
